body, html {
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
div#root, .app {
	width: inherit;
	height: inherit;
}
.app {
	display: flex;
	flex-direction: column;
	background: rgb(124,166,160);
	background: radial-gradient(circle, rgba(124,166,160,1) 0%, rgba(58,89,85,1) 100%);
	font-family: 'Sanchez', serif;
}
.drum-machine {
	margin: auto;
	display: grid;
	grid-template-rows: 68px 256px 256px;
	grid-template-columns: 256px 80px;
	width: 22rem;
	grid-gap: 24px;
	border: 4px solid #1D1F1E;
	border-radius: 2px;
	position: relative;
	padding: 1rem;
	background-color: #2C2C2C;
	color: #fff;
	z-index: 2;
}
.logo {
	display: flex;
	flex-direction: row;
	grid-column: 1 / 4;
	justify-content: center;
}
.logo > div:first-child {
	font-size: 3rem;
}
.logo > div:last-child > img {
	margin: auto;
	max-height: 100%;
}
main {
	display: grid;
	grid-template-rows: auto auto;
	grid-template-columns: 272px auto;
	grid-row-gap: 24px;
}
.hookup {
	position: absolute;
	top: 0;
	right: -40px;
	transform: rotate(90deg);
	display: flex;
	width: 48px;
	height: 55px;
}
.hookup > img {
	max-width: 100%;
	margin: auto;
}
button {
	border: none;
	background-color: inherit;
	cursor: pointer;
}
footer {
	display: flex;
	margin-bottom: 2rem;
}
footer > div {
	margin: auto;
	font-size: 18px;
}

/*media queries*/
@media screen and (max-height: 700px) {
	.drum-machine {
		grid-template-rows: 68px 256px;
		grid-template-columns: 256px 352px 80px;
		width: auto;
	}
	.piano-pad-container {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}
}