.drum-machine {
	background-color: #2d3436;
	border-radius: 2px;
	width: 304px;
}
.display {
	height: 40px;
	padding: 20px;
	display: flex;
}
.display > div {
	margin: auto;
	background-color: #FFF;
	width: 50%;
	height: 50px;
	text-align: center;
}
.display > div > p {
	font-family: Barlow, sans-serif;
	font-weight: 700;
}
.pad-wrapper {
	display: grid;
	grid-template-columns: 80px 80px 80px;
	grid-template-rows: 80px 80px 80px;
	grid-gap: 12px;
	padding: 20px;
}
.queue-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px;
}
button {
	padding: 12px 20px;
	border: none;
	border-radius: 2px;
	background-color: #1e5799;
	color: #fff;
	font-family: inherit;
	font-size: 1.2rem;
}
button:hover {
	cursor: pointer;
	background-color: #73A8E5;
}
.tempo-wrapper {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-row: auto auto;
}
.tempo-wrapper > button {
	padding: 0px;
	grid-column-start: 1;
}
.tempo-wrapper > p {
	grid-column: 2 / 2;
	grid-row: 1 / 3;
}