/*QueuePad.css*/
.queue-pad {
	height: 80px;
	width: 80px;
	border-radius: 8px;
	border: none;
	background: radial-gradient(ellipse at center, #1e5799 0%,#cdd2d6 0%,#0b87e5 100%);
	font-family: Barlowe, sans-serif;
}
.queue-pad.active {
	background: radial-gradient(ellipse at center, #73A8E5 0%,#cdd2d6 0%,#cdd2d6 40%,#73A8E5 100%);
}